body {
  background-color: #e7f3f2e0;
}

h2,
h4 {
  margin-top: 30px;
}

h1,
h2,
h4,
h5,
p {
  text-align: center;
  margin-bottom: 0;
}
.page {
  display: flex;
  justify-content: space-around;
  max-width: fit-content;
  margin: 2% auto;
  border: 1px solid #cad3dde0;
  border-radius: 5px;
  background-color: #fafcff;
}
@media (max-width: 440px) {
  .page {
    display: block;
    max-width: none;
  }
}
img {
  display: block;
  margin: 0 auto;
}
ul {
  text-align: center;
  line-height: 2;
  padding: 35px 0;
}
li {
  list-style: none;
}
p {
  font-size: larger;
}
a {
  display: block;
  text-align: center;
}
a:hover {
  font-size: larger;
}

.today-temperature,
#description {
  font-size: x-large;
}

.form {
  position: relative;
  margin-top: 3em;
  padding: 12px;
}
.btn {
  display: block;
}
.btn:hover {
  background-color: rgb(80, 79, 79);
}

.main {
  padding: 0;
}
