h1,
h2,
h4,
p,
.cur-data,
.forecast-header {
  text-align: center;
}
h1,
h4,
#day-icon {
  display: inline;
}
h4 {
  line-height: inherit;
}
img {
  display: block;
  margin: 0 auto;
}
ul {
  text-align: center;
  padding: 50px 0;
}
li {
  list-style: none;
  line-height: 2;
}
p {
  font-size: larger;
  font-weight: 600;
  margin: 0;
}
.page {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 2% auto 0 auto;
  border: 2px solid #ecf5f4e0;
  border-radius: 5px;
  background-color: #72adad5c;
}
@media (max-width: 1240px) {
  .page {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .page {
    display: grid;
    width: 100%;
  }
}
#celcius,
#fahrenheit {
  text-decoration: none;
}
.active {
  font-size: xx-large;
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
}
.today-temperature,
#description,
#country,
#now {
  font-size: x-large;
  white-space: nowrap;
}
.city-country {
  text-align: center;
  white-space: nowrap;
  margin-top: 40px;
}
#current-temperature {
  font-size: xx-large;
}
.form {
  padding-left: 5px;
  width: 80%;
}
.btn {
  display: block;
}
.btn-dark:hover {
  background-color: rgb(80, 79, 79);
}
.btn-transparent:hover {
  color: rgb(58, 126, 210);
  cursor: pointer;
}
.btn-transparent:focus {
  box-shadow: none;
}
.main {
  display: grid;
  text-shadow: 0 0 black;
}
.forecast {
  display: grid;
  padding: 0 0 0 10px;
  flex-shrink: 2;
  margin: 13px 0;
}
.row-day {
  border: 1px solid #dfe5e36b;
  margin: 10px 0;
  padding: 0 5px 10px;
  border-radius: 5px;
  background-color: #c5e1ebab;
}
.today-box h4 {
  font-size: xx-large;
}
.today-box p {
  font-size: x-large;
}
.min {
  border-left: 1px solid #5c656ed1;
}
#max-temp {
  padding-right: 4px;
}
#min-temp {
  opacity: 0.6;
}
#background-video {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.6;
  object-fit: cover;
}
.footer {
  text-align: center;
  color: #262a2cab;
}
