body {
  background-color: #e7f3f2e0;
}

h4 {
  line-height: inherit;
}

h1,
h2,
h4,
p {
  text-align: center;
  margin-bottom: 0;
}
h1 {
  display: inline;
}
.page {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 2% auto 0 auto;
  border: 1px solid #cad3dde0;
  border-radius: 5px;
  background-color: #fafcff;
}
@media (max-width: 440px) {
  .page {
    display: block;
    width: 100%;
  }
}
img {
  display: block;
  margin: 0 auto;
}
ul {
  text-align: center;

  padding: 35px 0;
}
li {
  list-style: none;
  line-height: 2;
}
p {
  font-size: larger;
}
a {
  display: block;
  text-align: center;
}
a:hover {
  font-size: larger;
}

.today-temperature,
#description {
  font-size: x-large;
}
#country {
  font-size: x-large;
}
.city-country {
  text-align: center;
}
.form {
  position: relative;
  margin-top: 3em;
}
.form-control {
  width: 57%;
}
.btn {
  display: block;
}
.btn-dark:hover {
  background-color: rgb(80, 79, 79);
}
.btn-transparent:hover {
  color: rgb(58, 126, 210);
  cursor: pointer;
}
.btn-transparent:focus {
  box-shadow: none;
}
.main {
  padding: 0;
}
.forecast {
  flex-shrink: 2;
  margin: 13px 0;
  padding: 0;
}
.row-day {
  border: none;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ecf5f4e0;
}
.row-day:hover {
}
